    /* CustomDatePicker.css */

    /* Example custom styles */
    .custom-datepicker {
        font-family: Arial, sans-serif;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 8px;
        width:150px;
    }
    
    /* Style the date picker input field */
    .custom-datepicker input {
        width: 200px;
        height: 36px;
        font-size: 14px;
    }
    
    /* Style the calendar dropdown */
    .custom-datepicker .react-datepicker {
        font-size: 14px;

    }
    
    /* Style the calendar header */
    .custom-datepicker .react-datepicker__header {
        background-color: #f0f0f0;
        border-bottom: none;
    }
    
    /* Style the calendar navigation buttons */
    .custom-datepicker .react-datepicker__navigation {
        background-color: transparent;
        border: none;
    }
    
    /* Style the calendar days */
    .custom-datepicker .react-datepicker__day {
        width: 36px;
        height: 36px;
        line-height: 36px;
        margin: 2px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    /* Style the selected day */
    .custom-datepicker .react-datepicker__day--selected {
        background-color: #007bff;
        color: #fff;
    }
    